# Mac
**.DS_Store

# Executables
bin/

# Data files
.data/*.csv
.vscode
middleware/__pycache__
.data/
full_data/
partial_data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
results-finisher/__pycache__
/client_runs
*_state/